body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
#cart{
    background-color: wheat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.item-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    align-items: center;:
}
.cart-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    align-items: center;
}